.container-fluid {
    width: 70%;
}

.jumbotron {
    background-image: url("../images/wmatamap.png");
    background-size: contain;
    color:black;
    text-align: center;
}

.card {
    margin-top: 20px;
    border-color: dodgerblue;
}

.card-header {
    background-color: dodgerblue;
    color: white;
}